*{
  margin: 0px ;
  padding: 0px ;
  font-family: "Poppins", "sans-serif" ;
  box-sizing: border-box ;
}
.container{
  width: 100% ;
  min-height: 100vh ;
  background-color: #0b0423 ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
}
#left, #right{
  width: 300px ;
  min-height: 400px ;
  margin: 20px ;
  border: 2px dashed #fff ;
}
.list{
  background-color: #e91e63 ;
  height: 40px ;
  margin: 30px ;
  color: #fff ;
  display: flex ;
  align-items: center ;
  cursor: grab ;
}
.list img{
  width: 20px ;
  height: 35px ;
  margin: 0px 50px  0px 5px ;
}